<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Subir Archivos</title>
</head>
<body>
    <header>
        <h1>Subir Archivos</h1>
    </header>
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file" multiple>
            <button type="submit">Subir</button>
        </form>
        <a href="{{ url_for('list_files') }}">Ver Archivos</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
</body>
</html>
